{{define "title"}}Home{{end}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the home page</h1>
            <p>This is the paragraph of home page</p>
            <p>You may want to visit the <a href="/about">About Page</a> to see your IP address set.</p>
        </div>
    </div>
</div>
{{end}}